* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  line-height: 1.6;
}


header {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 20px 0;
  text-align: center;
}

header nav a {
  color: rgb(255, 255, 255);
  margin: 0 15px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}


main {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}